---
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-10">
  <div class="pb-2">
    &copy; {today.getFullYear()} Lamim
  </div>
  <div class="inline opacity-75">
    <a href="mailto:rashid@lamim.me" target="_blank" class="font-bold">rashid@lamim.me</a>
  </div>
</footer>
<style>

</style>
